<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar usuario</title>
</head>
<body>
    <h1>ADICIONAR USUARIO</h1>
    <form action="/users/save" method="post">

        <div>
            <input type="text" name="name" placeholder="digite o nome">
        </div>
        <div><input type="" name="age" placeholder="digite a idade"></div>
        <div>
            <input type="submit" value="cadastrar">
        </div>
    </form>
</body>
</html>